body {
  font-family: 'Cabin', sans-serif;
}

strong {
  font-weight: 900 !important;
}

#intuitive {
  font-family: 'Cabin', sans-serif;
    font-weight: bolder;
}

li {
  font-size: large;
}

#emailBtn {
  display: block;
  margin-top: 3%;
  margin-bottom: 5%;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 5%;
  padding-bottom: 5%;
  border: black 3px solid;
  background-color: transparent;
  color: black;
  font-size: larger;
  border-radius: 2%;
}


#emailBtn:hover {
  text-decoration: none;
  border: black 3px solid;
  background-color: #ff00b4;
  color: white;
}

#emailBtn5 {
  display: block;
  margin-top: 3%;
  margin-bottom: 5%;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 5%;
  padding-bottom: 5%;
  border: black 3px solid;
  background-color: transparent;
  color: black;
  font-size: larger;
  border-radius: 2%;
}


#emailBtn5:hover {
  text-decoration: none;
  border: black 3px solid;
  background-color: #ff00b4;
  color: white;
}

#zodiacBtn {
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  border: black 3px solid;
  background-color: transparent;
  color: black;
  font-size: larger;
  border-radius: 2%;
}

#zodiacBtn:hover {
  border: black 3px solid;
  background-color: #ff00b4;
  color: white;
}


#button1{
  background-color: #004556!important;
  color: white;
}
#button1:hover{
  background-color: #012028 !important;
}

#button2{
  background-color: rgb(56, 56, 56) !important;
  color: white;
}
#button2:hover{
  background-color: rgb(12, 12, 12) !important;
}

#button3{
  background-color: rgb(77, 0, 154) !important;
  color: white;
}
#button3:hover{
  background-color: rgb(34, 2, 63) !important;
}

#serviceInfo {
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 5%
}

.container2 {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.container2 img {
  width: 100%;
  height: auto;
}

.container2 .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  color: white;
  font-size: 16px;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.modal-body {
  padding: 0em !important;
}

#hamburger {
  color: black;
  padding: 0.5em;
  border: solid 2px black;
  border-radius: 10%;
}

#space2 {
  background-image: url(assets/space.jpeg) !important;
  border: none;
  background-color: transparent !important;
}

.container3 {
  height: 100vh;
}

btn:focus,
a:focus {
  outline: none;
}
.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none;
}

#patreonBG {
  background-image: url(assets/space2.png) !important;
  background-position: 50% 5%;
  border-radius: 10px;
  padding: 5%;
          
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('assets/paul1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.masthead2 {
  height: 100vh;
  min-height: 500px;
  background-image: url('assets/astrohead.jpg');
  background-size: cover;
  background-position: 50% 5%;
  background-repeat: no-repeat;
}

.masthead3 {
  height: 100vh;
  min-height: 500px;
  background-image: url('assets/paulbody2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.masthead4 {
  height: 100vh;
  min-height: 500px;
  background-image: url('assets/aboutheader.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.masthead5 {
  height: 100vh;
  min-height: 500px;
  background-image: url('assets/space.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.masthead6 {
  height: 100vh;
  min-height: 500px;
  background-image: url('assets/levelup.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.masthead7 {
  height: 100vh;
  min-height: 500px;
  background-image: url('assets/paulcover2.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


#space {
  background-image: url('assets/space.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#schedule {
  font-size: x-large !important;
  border-radius: 15px !important;
  border: solid 3px black !important;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  padding-left: 5em !important;
  padding-right: 5em !important;
}
#schedule:hover {
  font-size: x-large !important;
  background: white !important;
  color: black !important;
  border: solid 3px white !important;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  padding-left: 5em !important;
  padding-right: 5em !important;
}

#body {
  color: white;
}
#body:hover {
  color: #ff00b4 !important;
}

#cardLink {
  color: black;
}
#white:hover {
  text-decoration: none;
  color: black !important;
}

#sticky-footer {
  flex-shrink: none;
}

.social {
  display: flex;
  justify-content: space-around;
  padding: 5%;
}
.fa-patreon:hover {
  color: #ff00b4 !important;
}
.fa-instagram:hover {
  color: #ff00b4 !important;
}
.fa-envelope:hover {
  color: #ff00b4 !important;
}
.fa-facebook:hover {
  color: #ff00b4 !important;
}
.fa-tiktok:hover {
  color: #ff00b4 !important;
}
.fa-twitter:hover {
  color: #ff00b4 !important;
}

.containerFans {
  width: 100%;
  height: 60px;
}
.onlyFans2 {
  height: 60px;
  max-width: 60px !important;
  min-width: 60px;
  background-image: url('assets/onlyfansnobackground.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.onlyFans2:hover {
  background-image: url('assets/onlyfanspink.png');
  background-size: contain;
  background-position: center;
}

.navbar {
  transition: all 0.4s;
  padding: 2em;
}

.navbar .nav-link {
  color: rgb(31, 30, 30);
  font-size: 130%;
  opacity: 90%;
  font-stretch: expanded;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: rgb(247, 0, 227);
  text-decoration: none;
}

.navbar .navbar-brand {
  color: black;
  font-size: 250%;
}

.button1 {
  color: white;
  font-size: 2rem;
  margin: 2em;
  background: transparent;
  border: solid 3px white;
  padding: 1em;
}

.button1:hover {
  color: black !important;
  background-color: white !important;
}

/* X-SMALL !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media (max-width: 575px) {
  body {
    background: white;
  }
  #gFont {
    font-size: 2em;
  }
  nav {
    padding-top: .25em !important;
    padding-right: 1em !important;
    padding-bottom: 0em !important;
    padding-left: .25em !important;
  }
  .masthead {
    background-position: 20% ;
  }
  .masthead2 {
    background-position: 50%;
  }

  .masthead3 {
    background-position: 14%;
  }
  .masthead4 {
    background-position: 50%;
  }
  .masthead7 {
    background-position: 28%;
  }
  #bookingServices {
    font-size: 275% !important;
  }
  #bookingRequirement{
    font-size: 275%;
  }

  #bodyBlock {
    margin-top: 11%;
    margin-bottom: 15%;
  }

  .button1 {
    font-size: 1.5rem;
    margin: 2em;
    margin-top: 2.5em;
  }
  #button1 {
    margin-bottom: 5%;
}

#button2 {
  margin-bottom: 5%;
}
#button3{
  margin-bottom: 7%;
}
#hello2 {
  margin-top: 4% !important;
}
#patreon3 {
  margin-bottom: 5%;
}
#follow {
  margin-top: 10%;
}
.patreonBlock {
  margin-top: 18% !important;
}

#knowMe {
  font-size: 275%;
}
#aboutBlock {
  margin-top: 20% !important;
  margin-bottom: 10% !important;
}
#lightBoxBlock {
  margin-bottom: 20%;
  margin-top: 15% !important;
}
#onlyBlock {
  margin-top: 20% !important;
  margin-bottom: 20% !important;
}

#appointmentCat{
  font-size: 290%;
  text-align: center;
}
#upcomingWork {
  text-align: center;
  font-size: 290%;
}
#elevenPic {
  max-height: 505px !important;
}

#momentHead{
  font-size: 290% !important;
}

#astroBlock {
  margin-top: 10% !important;
  margin-bottom: 18% !important;
  margin-left: 5%;
  margin-right: 5%;
}
#astroBlock2{
  margin-top: 20%;
  margin-bottom: 18%;
  margin-left: 5%;
  margin-right: 5%;
}
#astroPic{
  max-height: 170px !important;
}
#tarotPic{
  max-height: 200px !important;
}
#couplePic {
  max-height: 160px !important;
}
#zodiacBox {
  font-size: 150% !important;
}
#elevenSmall {
  font-size: 250% !important;
}


  #schedule {
    font-size: x-large !important;
    background: transparent !important;
    border: solid 3px white !important;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
  #schedule:hover {
    font-size: x-large !important;
    background: white !important;
    color: black !important;
    border: solid 3px white !important;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
  #patreon {
    margin-left: 0em !important;
    margin-right: 0em !important;
  }
  #pad {
    padding: 3% !important;
    border-radius: 2em !important;
  }

  #intuitive {
    font-size: 150%;

  }
  #intuitive2 {
    justify-content: center !important;
  }
  #hello {
    font-size: 210%;
  }
  #helloBody {
    font-size: large;
  }
  #signUp {
    font-size: 200%;
  }
  #signUpText {
    font-size: large;
  }
  #pLink {
    font-size: 120%;
  }
  #amaze {
    font-size: 120%;
    margin-left: 5%;
    margin-right: 5%;
  }
  #icon {
    font-size: 35px !important;
  }
  .onlyFans2 {
    height: 35px;
    max-width: 35px !important;
    min-width: 35px;
    background-image: url('assets/onlyfansnobackground.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .onlyFans2:hover {
    background-image: url('assets/onlyfanspink.png');
    background-size: contain;
    background-position: center;
  }

  #messageMe {
    margin-right: 2% !important;
    margin-left: 2% !important;
  }
  #logoPF {
    max-width: 100px !important;
  }
  #bookBtn {
    max-width: 300px !important;
  }
  #loveMagic {
    font-size: 150%;
    margin-top: 10% !important;
    margin-bottom: 0em;
  }
 #love5 {
   font-size: 100%;
 }
 #message2 {
   font-size: 85%;
 }
 #elevenP {
  font-size: 120% !important;
}
#elevenLi {
  font-size: 100% !important;
}
#emailBtn {
  font-size: 90%;
}

#emailBtn:hover {
  font-size: 90%;
}
#zodiacHead {
  font-size: 250%;
}
#sunPic{
  max-height: 200px !important;
}
#emailBtn5 {
  padding-left: 110px !important;
  padding-right: 110px !important;
}
#zodiacLine{
  margin-top: 15% !important;
  margin-bottom: 20% !important;
}
#zodiacLine2{
  margin-top: 15% !important;
  margin-bottom: 15% !important;
}

}

/* SMALL !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media (min-width: 576px) {
  body {
    background:white;
  }
  #gFont {
    font-size: 2em;
  }
  nav {
    padding-top: .25em !important;
    padding-right: 1em !important;
    padding-bottom: 0em !important;
    padding-left: .25em !important;
  }
  #hamburger {
    color: black;
    padding: 0.75em;
    border: solid 2px black;
    border-radius: 10%;
  }
  .masthead {
    background-position: 20%;
  }
  .masthead3 {
    background-position: 10%;
  }
  .masthead7 {
    background-position: 22%;
  }
  #bookingServices {
    font-size: 300% !important;
    margin-bottom: 5%;
  }
  .button1 {
    font-size: 1.6rem;
    margin: 2em;
    margin-top: 2.5em;
  }
  #button1 {
    margin-bottom: 10%;
}

#button2 {
  margin-bottom: 10%;
}
#button3 {
  margin-bottom: 7%;
}
#patreon3 {
  margin-bottom: 5%;
}
#follow {
  margin-top: 10%;
}
.patreonBlock {
  margin-top: 18% !important;
}
#videoBlock{
  margin-bottom: 15%;
  margin-top: 5%;
}

#knowMe {
  font-size: 275%;
}
#aboutBlock {
  margin-top: 20% !important;
}
#lightBoxBlock {
  margin-top: 15%;
  margin-bottom: 20%;
}

#bookingRequirement{
  font-size: 300%;
}

#bodyBlock {
  margin-top: 11%;
  margin-bottom: 15%;}

#onlyBlock {
  margin-top: 20% !important;
  margin-bottom: 20% !important;
}
#elevenP {
  font-size: 120% !important;
}
#elevenLi {
  font-size: 100% !important;
}

#appointmentCat{
  font-size: 260%;
  text-align: center;
}
#upcomingWork {
  text-align: center;
  font-size: 290%;
}
#momentHead{
  font-size: 340% !important;
}

#astroBlock {
  margin-top: 10% !important;
  margin-bottom: 18% !important;
}
#astroBlock2{
  margin-top: 20%;
  margin-bottom: 18%;
}

#astroPic{
  max-height: 190px !important;
}
#tarotPic{
  max-height: 220px !important;
}
#couplePic {
  max-height: 170px !important;
}

#momentHead{
  font-size: 220% !important;
}

#emailBtn {
  font-size: 110%;
}


#emailBtn:hover {
  font-size: 110%;
}
#zodiacHead {
  font-size: 350%;
}
#sunPic{
  max-height: 200px !important;
}
#emailBtn5 {
  padding-left: 200px !important;
  padding-right: 200px !important;
}

  #intuitive {
    font-size: 150%;
  }
  #intuitive2 {
    justify-content: center !important;
  }
  #hello {
    font-size: 300%;
  }
  #helloBody {
    font-size: large;
  }
  #signUp {
    font-size: 160%;
  }
  #signUpText {
    font-size: large;
  }
  #amaze {
    font-size: 160%;
  }
  #messageMe {
    margin-right: 3% !important;
    margin-left: 3% !important;
  }
  #logoPF {
    max-width: 125px !important;
  }
  #loveMagic {
    font-size: 180%;
    margin-top: 10% !important;
    margin-bottom: 0em;
  }
 #love5 {
   font-size: 125%;
 }
 #message2 {
   font-size: 95%;
 }

#zodiacLine{
  margin-top: 15% !important;
  margin-bottom: 20% !important;
}
#zodiacLine2{
  margin-top: 15% !important;
  margin-bottom: 10% !important;
}

}
/* MEDIUM !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media (min-width: 768px) {
  body {
    background: white;
  }
  #gFont {
    font-size: 2.5em;
  }
  nav {
    padding-top: .25em !important;
    padding-right: 2em !important;
    padding-bottom: 0em !important;
    padding-left: .25em !important;
  }
  #hamburger {
    color: black;
    padding: 1em;
    border: solid 2px black;
    border-radius: 10%;
  }
  #bookingServices {
    font-size: 350% !important;
    margin-bottom: 5%;
  }
  #bookingRequirement{
    font-size: 350%;
  }
 
  .button1 {
    color: white;
    font-size: 1.5rem !important;
    margin: 1em !important;
    background: transparent;
    border: solid 3px white;
    padding: 2em !important;
  }
  #button1 {
      margin-bottom: 10%;
  }

  #button2 {
    margin-bottom: 10%;
  }
  #button3 {
    margin-bottom: 10%;
  }
  #videoBlock {
    margin-bottom: 18%;
  }
 #patreonLine {
   margin-top: 12%;
 }

 #knowMe {
  font-size: 275%;
}
#aboutBlock {
  margin-top: 12% !important;
}
#lightBoxBlock {
  margin-top: 12%;
  margin-bottom: 15%;
}
#onlyBlock {
  margin-top: 12% !important;
  margin-bottom: 12% !important;
}
#emailBtn {
  font-size: larger;
}

#emailBtn:hover {
  font-size: larger;
}
#elevenPic {
  max-height: 505px !important;
  max-width: 350px !important;
}

#momentHead{
  font-size: 220% !important;
}
#appointmentCat{
  font-size: 320%;
  text-align: center;
}
#upcomingWork {
  text-align: center;
  font-size: 320%;
}
#faq{
  font-size: 300% !important;
}
#astroBlock {
  margin-top: 15% !important;
  margin-bottom: 18% !important;
}
#astroBlock2{
  margin-top: 15%;
  margin-bottom: 15%;
}
#astroPic{
  max-height: 120px !important;
}
#tarotPic{
  max-height: 180px !important;
}
#couplePic {
  max-height: 120px !important;
}
#elevenBig{
  font-size: 200% !important;
}
#elevenP {
  font-size: 100% !important;
}
#elevenLi {
  font-size: 100% !important;
}
#zodiacHead {
  font-size: 200% !important;
}
#zodiacP {
  font-size: 100% !important;
}
#sunPic {
  max-height: 150px !important;
}
#zodiacLine{
  margin-top: 15% !important;
  margin-bottom: 15% !important;
}
#zodiacLine2{
  margin-top: 15% !important;
  margin-bottom: 15% !important;
}


  .masthead {
    background-position: 20%;
  }
  .masthead3 {
    background-position: 0%;
  }
  .masthead7 {
    background-position: 20%;
  }
  .button1 {
    margin: 2em;
    margin-top: 1.75em !important;
  }
  #intuitive {
    margin-top: 17% !important;
    font-size: 175%;
  }
  #intuitive2 {
    justify-content: flex-end !important;
  }
  #signUp {
    font-size: 230%;
  }
  #signUpText {
    font-size: large;
  }
  #pLink {
    font-size: 100%;
  }
  #amaze {
    font-size: 120%;
  }
  #logoPF {
    max-width: 150px !important;
  }
  #loveMagic {
    font-size: 220%;
    margin-top: 10% !important;
    margin-bottom: 0em;
  }
 #love5 {
   font-size: 160%;
 }
 #message2 {
   font-size: 130%;
 }
 #elevenPic {
  max-height: 280px !important;
  max-width: 200px !important;
}
}

/* LARGE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media (min-width: 992px) {
  body {
    background: white;
  }
  nav {
    padding-top: 2em !important;
  }
  #gFont {
    font-size: 2.5em;
  }
  #knowMe {
    font-size: 350% !important;
  }
  #bookingServices {
    font-size: 375% !important;
    margin-bottom: 5%;
  }
  .button1 {
    color: white;
    font-size: 1.5rem !important;
    margin: 2em !important;
    margin-top: 2.5em !important;
    background: transparent;
    border: solid 3px white;
    padding: 2em !important;
  }
  #videoBlock {
    margin-bottom: 12%;
  }
  #astroBlock {
    margin-top: 10% !important;
    margin-bottom: 15% !important;
  }
  #astroBlock2{
    margin-top: 10%;
    margin-bottom: 12%;
  }

  #bodyBlock {
    margin-top: 3%;
    margin-bottom: 12%;
  }
  #elevenBig{
    font-size: 250% !important;
  }
  #elevenP {
    font-size: 110% !important;
  }
  #elevenLi {
    font-size: 100% !important;
  }


  #momentHead{
    font-size: 300% !important;
  }
  #appointmentCat{
    font-size: 340%;
    text-align: center;
  }
  #upcomingWork {
    text-align: center;
    font-size: 340%;
  }
  #faq {
    font-size: 330% !important;
  }
  #astroPic{
    max-height: 150px !important;
  }
  #tarotPic{
    max-height: 200px !important;
  }
  #couplePic {
    max-height: 130px !important;
  }


  .masthead {
    background-position: 20%;
  }
  #largeText {
    font-size: 400%;
  }
  #smallText {
    font-size: x-large !important;
  }
  #intuitive {
    margin-top: 20% !important;
    font-size: 240%;
  }
  .patreonBlock {
    margin-top: 12% !important;
  }
  #follow {
    margin-top: 5%;
  }
  #onlyBlock {
    margin-top: 12% !important;
    margin-bottom: 10% !important;
  }
  #zodiacBox {
    font-size: 240% !important;
  }


  #knowMe {
    font-size: 475%;
  }
  #aboutBlock {
    margin-top: 11% !important;
  }
  #lightBoxBlock {
    margin-top: 10%;
    margin-bottom: 12%;
  }
  #patreonLine {
    margin-top: 8%;
  }
  #hello {
    font-size: 400%;
  }
  #helloBody {
    font-size: 120%;
  }
  #signUp {
    font-size: 300%;
  }
  #signUpText {
    font-size: large;
  }
  #pLink {
    font-size: 150%;
  }
  #amaze {
    font-size: 160%;
  }
  #messageMe {
    margin-right: 5% !important;
    margin-left: 5% !important;
  }
  #loveMagic {
    font-size: 250%;
    margin-top: 5% !important;
    margin-bottom: 0em;
  }
 #love5 {
   font-size: 200%;
 }
 #message2 {
   font-size: 140%;
 }
 #zodiacHead {
  font-size: 250% !important;
}
#zodiacP {
  font-size: 110% !important;
}
#elevenPic {
  max-height: 410px !important;
  max-width: 290px !important;
}
#zodiacLine{
  margin-top: 10% !important;
  margin-bottom: 10% !important;
}
#zodiacLine2{
  margin-top: 10% !important;
  margin-bottom: 10% !important;
}
}

/* X-LARGE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media (min-width: 1200px) {
  body {
    background: white;
  }
  nav {
    padding-top: 2em !important;
  }
  #gFont {
    font-size: 2.5em;
  }
  #bookingServices {
    font-size: 400% !important;
    margin-bottom: 5%;
  }
  #patreonLine {
    margin-top: 10%;
  }
  #videoBlock {
    margin-top:3%;
  }
  #appointmentCat{
    font-size: 350%;
    text-align: center;
  }
  #upcomingWork {
    text-align: center;
    font-size: 350%;
  }
  #zodiacBox {
    font-size: 250% !important;
  }

  #momentHead{
    font-size: 330% !important;
  }
  #faq {
    font-size: 330% !important;
  }
  #astroPic{
    max-height: 170px !important;
  }
  #tarotPic{
    max-height: 220px !important;
  }
  #couplePic {
    max-height: 150px !important;
  }
  #elevenBig{
    font-size: 300% !important;
  }

  .masthead4 {
    background-position: 0% 40%;
  }
  #intuitive {
    margin-top: 20% !important;
    font-size: 300%;
  }
  #loveMagic {
    font-size: 260%;
    margin-top: 5% !important;
    margin-bottom: 0em;
  }
 #love5 {
   font-size: 220%;
 }
 #message2 {
   font-size: 140%;
 }
  #punch {
    margin-left: -11%;
  }
  #bodyBlock {
    margin-top: 2%;
    margin-bottom: 7%;
  }
  #elevenP {
    font-size: 110% !important;
  }
  #elevenLi {
    font-size: 100% !important;
  }
  #zodiacHead {
    font-size: 300% !important;
  }
  #zodiacP {
    font-size: 110% !important;
  }
  #sunPic {
    max-height: 200px !important;
  }
  #emailBtn {
    padding-right: 100px !important;
    padding-left: 100px !important;
  }
  
}

/* .parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('assets/astrohead.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
} */
