.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url("assets/paul1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .masthead2 {
    height: 50vh;
    min-height: 500px;
    background-image: url("assets/astrohead.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .space {
    height: 25vh;
    background-image: url("assets/space.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }



  #sticky-footer {
    flex-shrink: none;
  }

.social {
display:flex;
  justify-content: space-around;
padding: 5%;
}
.fa-patreon:hover {
    color: #df12cc !important;}
.fa-instagram:hover {
    color: #df12cc !important;}
.fa-envelope:hover {
    color: #df12cc !important;}
.fa-facebook:hover {
    color: #df12cc !important;}
.fa-tiktok:hover {
    color: #df12cc !important;}

